# --- Default settings ---
DEFAULT_TIME_OUT=5
POLL_FREQUENCY=1
HEADLESS=true
USE_GRID=false

# --- Way2automation ---
BASE_URL_1="https://www.way2automation.com/"

# --- Sql-ex ---
BASE_URL_2="https://sql-ex.ru/index.php"
LOGIN="isalikhov"
PASSWORD="bkmzc555"
ACCOUNT_NAME="calax"

